---
layout: home
author_profile: true
title: Hsuan-Chih Wang's Home Page
---

<!-- --- -->
<!-- layout: home -->
<!-- author_profile: true -->
<!-- --- -->

Hsuan-Chih Wang is currently an Associate Reasearcher in the Intelligent Transportation System Center at China Engineering Consultants. Inc (CECI), Taipei City, Taiwan. 
<br>His research is focused on <b>V2X-based Traffic Signal Control</b> and <b>Data-driven Traffic Safety Analysis</b> through computational methodologies such as mathematical programming and data mining. 
<br>
<br>Click <a href="https://wangtechlab.com/Publication/">here</a> to know more about Wang's latest research publications and projects. If you have questions about Wang's research, or are interested in collaborating, please feel free to contact him using the <a href = "mailto: transport.hcwang@gmail.com">Email link</a>. 
<br> <image src=assets/images/SUMO_master_thesis.gif> </br>

<div class="feature__wrapper">
    {% for post in site.posts limit:3 %}
        <!-- can stay the same as the current feature_row include -->
        <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}

</div>


<div class="feature__wrapper">
    {% for post in site.posts limit:3 %}
    <div class="feature__item">
       <div class="archive__item">
          <div class="archive__item-body">
             <h3 class="archive__item-title"><a href="{{ site.baseurl }}{{ post.url}}" rel="permalink">{{ post.title }}</a></h3>
             <div class="archive__item-excerpt">
                <p>{{ post.excerpt | markdownify }}</p>
             </div>
          </div>
       </div>
    </div>
    {% endfor %}
 </div>



